In [1]:
%reload_ext typedb_jupyter

In [2]:
%typedb help

Available commands: connect, database, transaction, help
--------------------------------------------------------------------------------
Help for command 'connect':
usage: connect [-h] [--tls-enabled]
               {open,close,help} [{core,cluster}] [address] [username]
               [password]

Establishes the connection to TypeDB

positional arguments:
  {open,close,help}
  {core,cluster}
  address
  username
  password

options:
  -h, --help         show this help message and exit
  --tls-enabled      Use for encrypted servers

--------------------------------------------------------------------------------
Help for command 'database':
usage: database [-h] {create,recreate,list,delete,schema,help} [name]

Database management

positional arguments:
  {create,recreate,list,delete,schema,help}
  name

options:
  -h, --help            show this help message and exit

--------------------------------------------------------------------------------
Help for command 'transaction':
usage: transaction [-h]
                   {open,close,commit,rollback,help} [database]
                   [{schema,write,read}]

Opens or closes a transaction to a database on the active connection

positional arguments:
  {open,close,commit,rollback,help}
  database              Only for 'open'
  {schema,write,read}   Only for 'open'

options:
  -h, --help            show this help message and exit

--------------------------------------------------------------------------------
Help for command 'help':
usage: help [-h]

Shows this help description

options:
  -h, --help  show this help message and exit

In [3]:
%typedb connect open core 127.0.0.1:1729 admin password

Opened connection to: 127.0.0.1:1729

In [4]:
%typedb database create typedb_jupyter_sample

Created database  typedb_jupyter_sample

In [5]:
%typedb database list

Databases:  tests, typedb_jupyter_sample, typedb_jupyter_graphs

In [6]:
%typedb database delete typedb_jupyter_sample

Deleted database  typedb_jupyter_sample

In [7]:
%typedb database list

Databases:  tests, typedb_jupyter_graphs

In [8]:
%typedb database recreate typedb_jupyter_sample

Recreated database  typedb_jupyter_sample

In [9]:
%typedb database list

Databases:  tests, typedb_jupyter_sample, typedb_jupyter_graphs

In [10]:
%typedb transaction open typedb_jupyter_sample schema

Opened schema transaction on database 'typedb_jupyter_sample'

In [11]:
%%typeql 
define
    attribute name, value string;
    entity person, owns name;

Query completed successfully! (No results to show)

'Stored result in variable: _typeql_result'

In [12]:
%typedb transaction commit

Transaction committed

In [13]:
%typedb transaction open typedb_jupyter_sample write

Opened write transaction on database 'typedb_jupyter_sample'

In [14]:
%%typeql
insert 
$p isa person, has name "James";

Query returned 1 rows.

'Stored result in variable: _typeql_result'

In [15]:
%typedb transaction commit

Transaction committed

In [16]:
%typedb transaction open typedb_jupyter_sample read

Opened read transaction on database 'typedb_jupyter_sample'

In [17]:
%%typeql 
match $instance isa! $instance-type;

Query returned 2 rows.

'Stored result in variable: _typeql_result'

In [18]:
print(_typeql_result)
print(_typeql_result[1].get("instance"))

[|  $instance: Entity(person: 0x1e00000000000000000000)  |  $instance-type: EntityType(person)  |, |  $instance: Attribute(name: "James")  |  $instance-type: AttributeType(name)  |]
Attribute(name: "James")

In [19]:
%%typeql 
match $owner isa! $owner_type; entity $owner_type;
fetch {
    "attributes": { $owner.* }
};

Query returned 1 documents.
{
  "attributes": {
    "name": "James"
  }
}

'Stored result in variable: _typeql_result'

In [20]:
%typedb transaction close

Transaction closed